# Check ID - using b4(CDR)

In [2]:
import os
import pandas as pd

# 경로 설정
clinical_data_path = '/home/minyoungxi/MINYOUNGXI/XFL/Data/Clinical_data/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji_20240429_OASIS3_Search_Table_Mode_csv'

# 모든 CSV 파일 읽기
csv_files = [f for f in os.listdir(clinical_data_path) if f.endswith('.csv')]
df_list = [pd.read_csv(os.path.join(clinical_data_path, csv_file)) for csv_file in csv_files]

# DataFrame 병합
clinical_data = pd.concat(df_list, ignore_index=True)

# 데이터 확인
print(clinical_data.head())

  CNDA_PSYCHOMETRICSDATA ID   Subject  Date  Age  LogMemory  LogMemoryRecall  \
0      OAS30001_UDSc1_d0014  OAS30001   NaN  NaN        NaN              NaN
1      OAS30001_UDSc1_d0360  OAS30001   NaN  NaN        NaN              NaN
2      OAS30001_UDSc1_d0731  OAS30001   NaN  NaN        NaN              NaN
3      OAS30001_UDSc1_d1116  OAS30001   NaN  NaN        NaN              NaN
4      OAS30001_UDSc1_d1472  OAS30001   NaN  NaN        NaN              NaN

   DigitSpan  AssocRecallEasy  AssocRecallHard  AssocRecogEasy  ...  APP  \
0        NaN              NaN              NaN             NaN  ...  NaN
1        NaN              NaN              NaN             NaN  ...  NaN
2        NaN              NaN              NaN             NaN  ...  NaN
3        NaN              NaN              NaN             NaN  ...  NaN
4        NaN              NaN              NaN             NaN  ...  NaN

   APPSEV  FS_FSDATA ID  Session  Visit  UDS_B3UPDRSDATA ID  MR ID  Scans  \
0     NaN           NaN      NaN    NaN                 NaN    NaN    NaN
1     NaN           NaN      NaN    NaN                 NaN    NaN    NaN
2     NaN           NaN      NaN    NaN                 NaN    NaN    NaN
3     NaN           NaN      NaN    NaN                 NaN    NaN    NaN
4     NaN           NaN      NaN    NaN                 NaN    NaN    NaN

   FreeSurfers  PUPs
0          NaN   NaN
1          NaN   NaN
2          NaN   NaN
3          NaN   NaN
4          NaN   NaN

[5 rows x 1228 columns]

In [5]:
OASIS_DEMO_DF = pd.read_csv("/home/minyoungxi/MINYOUNGXI/XFL/Data/Clinical_data/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji-20240429_111322_OASIS3_Actions_Download Images_Whole_csv/OASIS3_data_files/demo/csv/OASIS3_demographics.csv")

OASIS_DEMO_DF['OASISID']

,OASISID,Subject_accession,AgeatEntry,AgeatDeath,GENDER,EDUC,SES,racecode,race,ETHNIC,AIAN,NHPI,ASIAN,AA,WHITE,daddem,momdem,HAND,APOE
0,OAS30001,NaN,65.1945,NaN,2,12.0,4.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,5.0,1.0,R,23.0
1,OAS30002,NaN,67.2521,76.9397,1,18.0,2.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
2,OAS30003,NaN,58.8137,NaN,2,18.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R,33.0
3,OAS30004,NaN,55.1342,NaN,2,17.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,L,23.0
4,OAS30005,NaN,48.0630,NaN,2,16.0,3.0,2,ASIAN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,R,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,OAS31470,NaN,64.9096,NaN,2,14.0,2.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
1374,OAS31471,NaN,65.2986,NaN,1,18.0,2.0,4,Black,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,R,34.0
1375,OAS31472,NaN,67.2712,NaN,2,18.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R,33.0
1376,OAS31473,NaN,56.6137,NaN,1,20.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
1377,OAS31474,NaN,81.8438,NaN,2,16.0,2.0,4,Black,0.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,R,33.0

In [7]:
OASIS_DEMO_DF[OASIS_DEMO_DF['OASISID'] == 'OAS30078']

,OASISID,Subject_accession,AgeatEntry,AgeatDeath,GENDER,EDUC,SES,racecode,race,ETHNIC,AIAN,NHPI,ASIAN,AA,WHITE,daddem,momdem,HAND,APOE
72,OAS30078,NaN,71.8904,83.0877,2,15.0,2.0,5,White,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,R,44.0

In [13]:
UDS_D1_Clinician_Diagnosis = pd.read_csv("/home/minyoungxi/MINYOUNGXI/XFL/Data/Clinical_data/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji_20240429_OASIS3_Search_Table_Mode_csv/Suji_4_29_2024_10_4_48_UDS D1_Clinician Diagnosis.csv")
UDS_D1_Clinician_Diagnosis

,UDS_D1DXDATA ID,Subject,Date,Age,WHODIDDX,NORMCOG,DEMENTED,MCIAMEM,MCIAPLUS,MCIAPLAN,...,NEOPIF,COGOTH,COGOTHX,COGOTHIF,COGOTH2,COGOTH2X,COGOTH2F,COGOTH3,COGOTH3X,COGOTH3F
0,OAS30001_USDd1_d0000,OAS30001,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OAS30001_USDd1_d0339,OAS30001,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OAS30001_USDd1_d0722,OAS30001,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
3,OAS30001_USDd1_d1106,OAS30001,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,OAS30001_USDd1_d1456,OAS30001,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,OAS31172_USDd1_d0406,OAS31172,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4085,OAS31172_USDd1_d0823,OAS31172,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4086,OAS31172_USDd1_d1215,OAS31172,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4087,OAS31172_USDd1_d1565,OAS31172,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4088,OAS31172_USDd1_d1908,OAS31172,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN

In [17]:
UDS_D1_Clinician_Diagnosis[UDS_D1_Clinician_Diagnosis['Subject'] == 'OAS30078']

,UDS_D1DXDATA ID,Subject,Date,Age,WHODIDDX,NORMCOG,DEMENTED,MCIAMEM,MCIAPLUS,MCIAPLAN,...,NEOPIF,COGOTH,COGOTHX,COGOTHIF,COGOTH2,COGOTH2X,COGOTH2F,COGOTH3,COGOTH3X,COGOTH3F
274,OAS30078_USDd1_d0000,OAS30078,NaN,NaN,1.0,0.0,1.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,OAS30078_USDd1_d0422,OAS30078,NaN,NaN,1.0,0.0,1.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,OAS30078_USDd1_d0844,OAS30078,NaN,NaN,1.0,0.0,1.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
277,OAS30078_USDd1_d1422,OAS30078,NaN,NaN,1.0,0.0,1.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN

### 알츠하이머 관련 컬럼

- NORMCOG: 정상 인지 상태 여부. 0이 아닌 경우 인지 장애를 가지고 있을 가능성이 있음. 

- DEMENTED: 치매 여부를 나타냅니다.

- PROBAD: 알츠하이머병으로 진단된 경우.

- PROBADIF: 알츠하이머병 진단의 확실성.

- POSSAD: 가능성 있는 알츠하이머병.

- POSSADIF: 가능성 있는 알츠하이머병 진단의 확실성.pd.set_option('display.max_columns', None)

In [19]:
import pandas as pd

# UDS_D1_Clinician_Diagnosis 데이터프레임 로드
file_path = '/home/minyoungxi/MINYOUNGXI/XFL/Data/Clinical_data/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji_20240429_OASIS3_Search_Table_Mode_csv/Suji_4_29_2024_10_4_48_UDS D1_Clinician Diagnosis.csv'
df = pd.read_csv(file_path)

# 'OAS30078' 환자의 데이터 필터링
patient_data = df[df['Subject'] == 'OAS30078']

# 알츠하이머 진단 관련 컬럼들 선택
alzheimers_columns = ['NORMCOG', 'DEMENTED', 'PROBAD', 'PROBADIF', 'POSSAD', 'POSSADIF']
alzheimers_info = patient_data[alzheimers_columns]

# 결과 출력
print(alzheimers_info)

     NORMCOG  DEMENTED  PROBAD  PROBADIF  POSSAD  POSSADIF
274      0.0       1.0     1.0       1.0     NaN       NaN
275      0.0       1.0     1.0       1.0     NaN       NaN
276      0.0       1.0     1.0       1.0     NaN       NaN
277      0.0       1.0     1.0       1.0     NaN       NaN