In [5]:
import pandas as pd

csv_file_path = '/home/minyoungxi/MINYOUNGXI/XFL/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji-20240429_111322_OASIS3_Actions_Download Images_Whole_csv/OASIS3_data_files/demo/csv/OASIS3_demographics.csv'

data = pd.read_csv(csv_file_path)

data

,OASISID,Subject_accession,AgeatEntry,AgeatDeath,GENDER,EDUC,SES,racecode,race,ETHNIC,AIAN,NHPI,ASIAN,AA,WHITE,daddem,momdem,HAND,APOE
0,OAS30001,NaN,65.1945,NaN,2,12.0,4.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,5.0,1.0,R,23.0
1,OAS30002,NaN,67.2521,76.9397,1,18.0,2.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
2,OAS30003,NaN,58.8137,NaN,2,18.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R,33.0
3,OAS30004,NaN,55.1342,NaN,2,17.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,L,23.0
4,OAS30005,NaN,48.0630,NaN,2,16.0,3.0,2,ASIAN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,R,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,OAS31470,NaN,64.9096,NaN,2,14.0,2.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
1374,OAS31471,NaN,65.2986,NaN,1,18.0,2.0,4,Black,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,R,34.0
1375,OAS31472,NaN,67.2712,NaN,2,18.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,R,33.0
1376,OAS31473,NaN,56.6137,NaN,1,20.0,1.0,5,White,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,R,34.0
1377,OAS31474,NaN,81.8438,NaN,2,16.0,2.0,4,Black,0.0,0.0,0.0,0.0,1.0,0.0,5.0,1.0,R,33.0

In [10]:
import pandas as pd

data_path = '/home/minyoungxi/MINYOUNGXI/XFL/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji_20240429_OASIS3_Search_Table_Mode_csv/Suji_4_29_2024_9_46_13_MR Sessions.csv'

data = pd.read_csv(data_path)

filtered_data = data[(data['Age'] >= 75) & (data['Age'] <= 80)]

filtered_data

,MR ID,Date,Subject,Age,Scanner,Scans,FreeSurfers,PUPs
38,OAS30007_MR_d1636,NaN,OAS30007,76.0,3.0T,"angio(1), asl(1), fieldmap(3), FLAIR(1), T1w(1...",NaN,NaN
39,OAS30007_MR_d1641,NaN,OAS30007,76.0,3.0T,"asl(2), bold(2), dwi(2), fieldmap(3), GRE(2), ...",1.0,NaN
41,OAS30007_MR_d2722,NaN,OAS30007,78.0,3.0T,"angio(1), asl(1), bold(2), fieldmap(3), FLAIR(...",NaN,NaN
56,OAS30011_MR_d0055,NaN,OAS30011,78.0,3.0T,"bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...",1.0,NaN
68,OAS30016_MR_d0021,NaN,OAS30016,77.0,3.0T,"bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...",1.0,NaN
...,...,...,...,...,...,...,...,...
2509,OAS31159_MR_d1019,NaN,OAS31159,75.0,3.0T,"bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...",1.0,NaN
2510,OAS31159_MR_d1893,NaN,OAS31159,78.0,3.0T,NaN,NaN,NaN
2514,OAS31162_MR_d0107,NaN,OAS31162,80.0,3.0T,"bold(3), dwi(2), fieldmap(3), GRE(2), minIP(1)...",1.0,NaN
2516,OAS31164_MR_d0069,NaN,OAS31164,80.0,3.0T,"bold(2), T1w(2), T2w(2)",1.0,NaN
2534,OAS31172_MR_d1717,NaN,OAS31172,75.0,3.0T,"bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...",1.0,NaN

In [15]:
import pandas as pd

data_path = '/home/minyoungxi/MINYOUNGXI/XFL/20240429_csv_OASIS3_all_files_XNAT_download_Suji_to_XFL_Share_240606/Suji_20240429_OASIS3_Search_Table_Mode_csv/Suji_4_29_2024_9_46_13_MR Sessions.csv'

data = pd.read_csv(data_path)

filtered_data = data[(data['Scans'].str.contains('bold')) & (data['Age'] > 75) & (data['Scanner'] == '3.0T')]

print(filtered_data)

                  MR ID  Date   Subject   Age Scanner  \
39    OAS30007_MR_d1641   NaN  OAS30007  76.0    3.0T
41    OAS30007_MR_d2722   NaN  OAS30007  78.0    3.0T
56    OAS30011_MR_d0055   NaN  OAS30011  78.0    3.0T
68    OAS30016_MR_d0021   NaN  OAS30016  77.0    3.0T
80    OAS30026_MR_d0048   NaN  OAS30026  80.0    3.0T
...                 ...   ...       ...   ...     ...
2500  OAS31156_MR_d0001   NaN  OAS31156  81.0    3.0T
2511  OAS31160_MR_d6062   NaN  OAS31160  81.0    3.0T
2514  OAS31162_MR_d0107   NaN  OAS31162  80.0    3.0T
2516  OAS31164_MR_d0069   NaN  OAS31164  80.0    3.0T
2517  OAS31164_MR_d1678   NaN  OAS31164  85.0    3.0T

                                                  Scans  FreeSurfers  PUPs
39    asl(2), bold(2), dwi(2), fieldmap(3), GRE(2), ...          1.0   NaN
41    angio(1), asl(1), bold(2), fieldmap(3), FLAIR(...          NaN   NaN
56    bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...          1.0   NaN
68    bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...          1.0   NaN
80    bold(2), dwi(2), fieldmap(3), GRE(2), minIP(1)...          NaN   NaN
...                                                 ...          ...   ...
2500  bold(2), dwi(1), minIP(1), swi(1), T1w(2), T2s...          1.0   NaN
2511  bold(3), dwi(2), fieldmap(3), GRE(2), minIP(1)...          1.0   NaN
2514  bold(3), dwi(2), fieldmap(3), GRE(2), minIP(1)...          1.0   NaN
2516                            bold(2), T1w(2), T2w(2)          1.0   NaN
2517  angio(1), bold(2), dwi(2), fieldmap(3), GRE(2)...          1.0   NaN

[478 rows x 8 columns]

In [13]:

filtered_data = data[(data['Age'] >= 75) & (data['Age'] <= 80)]

print(filtered_data)

          MR session ID                                          file name  \
36    OAS30019_MR_d0376  sub-OAS30019_ses-d0376_task-rest_run-01_bold.n...
37    OAS30019_MR_d0376  sub-OAS30019_ses-d0376_task-rest_run-02_bold.n...
48    OAS30027_MR_d2394  sub-OAS30027_ses-d2394_task-rest_run-01_bold.n...
49    OAS30027_MR_d2394  sub-OAS30027_ses-d2394_task-rest_run-02_bold.n...
94    OAS30058_MR_d3235  sub-OAS30058_ses-d3235_task-rest_run-01_bold.n...
...                 ...                                                ...
1502  OAS31149_MR_d0061  sub-OAS31149_ses-d0061_task-rest_run-02_bold.n...
1521  OAS31159_MR_d1019  sub-OAS31159_ses-d1019_task-rest_run-01_bold.n...
1522  OAS31159_MR_d1019  sub-OAS31159_ses-d1019_task-rest_run-02_bold.n...
1535  OAS31172_MR_d1717  sub-OAS31172_ses-d1717_task-rest_run-01_bold.n...
1536  OAS31172_MR_d1717  sub-OAS31172_ses-d1717_task-rest_run-02_bold.n...

                  MR ID Subject_x  Age  Age 2 M/F  cdr  \
36    OAS30019_MR_d0376  OAS30019   75  75.41   F  0.5
37    OAS30019_MR_d0376  OAS30019   75  75.41   F  0.5
48    OAS30027_MR_d2394  OAS30027   75  75.72   M  0.0
49    OAS30027_MR_d2394  OAS30027   75  75.72   M  0.0
94    OAS30058_MR_d3235  OAS30058   75  75.42   F  0.0
...                 ...       ...  ...    ...  ..  ...
1502  OAS31149_MR_d0061  OAS31149   75  75.68   F  0.0
1521  OAS31159_MR_d1019  OAS31159   75  75.97   F  0.0
1522  OAS31159_MR_d1019  OAS31159   75  75.97   F  0.0
1535  OAS31172_MR_d1717  OAS31172   75  75.60   F  0.0
1536  OAS31172_MR_d1717  OAS31172   75  75.60   F  0.0

                      Diagnosis  Class  ... homehobb judgment memory orient  \
36         Very Mild Impairment      1  ...      0.5      0.5    0.5    0.0
37         Very Mild Impairment      1  ...      0.5      0.5    0.5    0.0
48    Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
49    Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
94    Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
...                         ...    ...  ...      ...      ...    ...    ...
1502  Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
1521  Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
1522  Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
1535  Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0
1536  Normal Cognitive Function      0  ...      0.0      0.0    0.0    0.0

     perscare  apoe sumbox  height weight     Race_y
36          0    23    2.0    64.0  189.0  Caucasian
37          0    23    2.0    64.0  189.0  Caucasian
48          0    34    0.0    71.0  211.0  Caucasian
49          0    34    0.0    71.0  211.0  Caucasian
94          0    33    0.0    62.0  177.0  Caucasian
...       ...   ...    ...     ...    ...        ...
1502        0    24    0.0    62.0  157.0  Caucasian
1521        0    33    0.0    63.0  163.0  Caucasian
1522        0    33    0.0    63.0  163.0  Caucasian
1535        0    23    0.0    61.0  133.0  Caucasian
1536        0    23    0.0    61.0  133.0  Caucasian

[144 rows x 39 columns]

In [14]:
filtered_data

,MR session ID,file name,MR ID,Subject_x,Age,Age 2,M/F,cdr,Diagnosis,Class,...,homehobb,judgment,memory,orient,perscare,apoe,sumbox,height,weight,Race_y
36,OAS30019_MR_d0376,sub-OAS30019_ses-d0376_task-rest_run-01_bold.n...,OAS30019_MR_d0376,OAS30019,75,75.41,F,0.5,Very Mild Impairment,1,...,0.5,0.5,0.5,0.0,0,23,2.0,64.0,189.0,Caucasian
37,OAS30019_MR_d0376,sub-OAS30019_ses-d0376_task-rest_run-02_bold.n...,OAS30019_MR_d0376,OAS30019,75,75.41,F,0.5,Very Mild Impairment,1,...,0.5,0.5,0.5,0.0,0,23,2.0,64.0,189.0,Caucasian
48,OAS30027_MR_d2394,sub-OAS30027_ses-d2394_task-rest_run-01_bold.n...,OAS30027_MR_d2394,OAS30027,75,75.72,M,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,34,0.0,71.0,211.0,Caucasian
49,OAS30027_MR_d2394,sub-OAS30027_ses-d2394_task-rest_run-02_bold.n...,OAS30027_MR_d2394,OAS30027,75,75.72,M,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,34,0.0,71.0,211.0,Caucasian
94,OAS30058_MR_d3235,sub-OAS30058_ses-d3235_task-rest_run-01_bold.n...,OAS30058_MR_d3235,OAS30058,75,75.42,F,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,33,0.0,62.0,177.0,Caucasian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1502,OAS31149_MR_d0061,sub-OAS31149_ses-d0061_task-rest_run-02_bold.n...,OAS31149_MR_d0061,OAS31149,75,75.68,F,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,24,0.0,62.0,157.0,Caucasian
1521,OAS31159_MR_d1019,sub-OAS31159_ses-d1019_task-rest_run-01_bold.n...,OAS31159_MR_d1019,OAS31159,75,75.97,F,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,33,0.0,63.0,163.0,Caucasian
1522,OAS31159_MR_d1019,sub-OAS31159_ses-d1019_task-rest_run-02_bold.n...,OAS31159_MR_d1019,OAS31159,75,75.97,F,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,33,0.0,63.0,163.0,Caucasian
1535,OAS31172_MR_d1717,sub-OAS31172_ses-d1717_task-rest_run-01_bold.n...,OAS31172_MR_d1717,OAS31172,75,75.60,F,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,23,0.0,61.0,133.0,Caucasian
1536,OAS31172_MR_d1717,sub-OAS31172_ses-d1717_task-rest_run-02_bold.n...,OAS31172_MR_d1717,OAS31172,75,75.60,F,0.0,Normal Cognitive Function,0,...,0.0,0.0,0.0,0.0,0,23,0.0,61.0,133.0,Caucasian